*

!resourcepacks/
resourcepacks/*
!resourcepacks/default/
resourcepacks/default/*
!resourcepacks/default/pack.json
!resourcepacks/default/textures/
resourcepacks/default/textures/*
!resourcepacks/default/textures/exDevEL.*

!scripts/
scripts/*
!scripts/513_exDevEL.lua
!scripts/exDevEL/
!scripts/exDevEL/*
!scripts/utils/
scripts/utils/*
!scripts/utils/game_commands.lua
!scripts/utils/global_commands.lua

!.gitignore
!mod_id.txt
!README.md
!steam_appid.txt